<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>grid-layout</title>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lexend+Deca">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Big+Shoulders+Display">
    <link rel="stylesheet" href="grid.css">
  </head>
  <body>
    <main>
      <div class="itema">A</div>
      <div class="itemb">B</div>
      <div class="itemc">C</div>
      <div class="itemd">D</div>
      <div class="iteme">E</div>
    </main>
  </body>
</html>
