* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(0, 0%, 95%);
    
}
main{
    width: 60%;
    margin: 40px auto 0 auto;
}
.content{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    Font-size: 15px; 
    }

.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
    flex: 1;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
    flex: 1;
}
.luxury{
    background-color:hsl(179, 100%, 13%);
    padding: 20px;
    flex: 1;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
    margin: 80px 0 20px 0;
    font-size: 15px; 
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: hsl(0, 0%, 95%);
    Font-size: 15px; 
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover {
    background-color: hsla(261, 96%, 47%, 0.553);
    color: black;
    font-weight: 700; 
}
h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;  
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px; 
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
@media only screen and (max-width: 1440px){
    /*Laptop*/
}
@media only screen and (max-width: 375px){
	/*Mobile*/
}

